@model ContactoModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="card">
    <div class="card-header">
        Eliminar Contacto
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Mantenedor" method="post">
            <input asp-for="idContacto" type="hidden" class="form-control">
            <div class="alert alert-danger" role="alert">
                Esta a punto de eliminar al contacto: @Html.DisplayTextFor(m=>m.Nombre)
            </div>
            <button type="submit" class="btn btn-danger">ELIMINAR</button>
            <a asp-action="Listar" asp-controller="Mantenedor" class="btn btn-secondary">ver LISTA</a>
        </form>
    </div>
</div>*@

<!-- Modal -->
<div class="modal fade" id="e" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
